* {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 236, 203);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

h2,
h3 {
    text-decoration: underline;

}

ul,
ol {
    line-height: 30px;
}

ul {
    list-style: none;
}

ul li::before {
    content: "•";
    font-size: 22px;
    display: inline-block;
    width: .8em;
}

li::before {}

ol {
    counter-reset: item;

}

ol li {
    display: block;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
}